/* Blue theme */

:root {
    --background-color: #0c0c18;

    --font-color: #ffffffce;
    --light-font-color: #ffffffb9;
    --half-font-color: #ffffff7e;

    --alt-hover-color: #6dff68;
    --hover-color: #ff9913;
    --selected-color: #17e4ff;

    --shiny-font-color: #76efff;
}