@font-face {
  font-family: MF Crypt; /* set name */
  src: url(mf_crypt.ttf); /* url of the font */
}

@font-face {
  font-family: MF Trim; /* set name */
  src: url(mf_trim.ttf); /* url of the font */
}


:root {
    --color-background: black;
    --color-text: white;
}


body {
    background-color: var(--color-background); 
    margin: 0;
    width: 100%;
    height: 100%;
    flex: 1;
    border: none;
    display: grid;
}

img {
  transform-origin: center;
  transform: scale(3);
  image-rendering: crisp-edges;
}

html {
    margin: 0;
    border: none;
    height: 100%;
    flex: 1;
}

p {
    margin: 0;
    padding: 0;
    font-family: MF Trim;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
}


body {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr min-content min-content min-content min-content min-content 1fr;
    grid-template-areas:
    ". . ."
    ". myth ."
    ". nobs ."
    ". text ."
    ". email . "
    ". emailText ."
    ". . .";
    > :nth-child(1) {
        grid-area: myth;
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-template-areas: ". title .";
        > :nth-child(1) {
            grid-area: title;
            font-family: MF Crypt;
            font-size: 30px;
        }
    }
    > :nth-child(2) {
        grid-area: nobs;
        grid-template-columns: repeat(min-content, 23);
    }
    > :nth-child(3) {
        grid-area: text;
        
    }
    > :nth-child(4) {
        grid-area: email;
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        grid-template-areas: ". button .";
        > :nth-child(1) {
            grid-area: button;
        }
    }
    > :nth-child(5) {
        grid-area: emailText;
        text-align: center;
        width: 100%;
    }
 }


p {
    color: var(--color-text);
}