* {
    margin: 0;
    padding: 0;
 }

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

:root {
    --teal: white;
    --light-teal: rgb(62, 209, 209);
    --width: 955px;
    --b-width: 24px;
    --light-gray: rgb(75, 74, 82);
    --tan: rgba(0,0,0,0);
}

a {color: aqua;}
a:visited {color: aqua;}
a:hover {text-decoration: none; color:orange;}
a:focus {color:aqua;}
a:active {color:aqua;}

.siteNavDef {
    width: 160px;
    border: 0px solid;
    border-top: 4px solid rgb(177, 177, 177);
    background-color: rgba(0,0,0,0);
}

.siteNavAct {
    width: 160px;
    border: 0px solid;
    border-top: 4px solid orange;
    background-color: rgba(0,0,0,0);
}

.siteNavDef:hover { border-top-color: aqua; }
.siteNavAct:hover { border-top-color: aqua; }

.main {
    background-color: var(--light-gray);

    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(230, 230, 230);

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    border-top: 4px solid;
}

.header {
    background-color: var(--tan);

    font-size:22px;
    font-family:Arial, sans-serif;
    text-align:left;

    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}


.wrapper {
    width: 1050px;
    max-width: 1050px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.siteHeader {
    margin: 0 auto;
    background-color: rgb(65, 33, 122);

    font-family: Arial, sans-serif;
    text-align: center;
    color: white;

    padding-top: 55px; padding-bottom: 55px;
}

.siteHeaderText {
    font-size: 50px;
    margin: 0; 
}

.siteHeader:after {
    clear: both;
}

.spacer {
    padding-top: 7px;
    padding-bottom: 7px;
}

.linkBar {
    font-size: 22px; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    color: rgb(230, 230, 230);
}

.tableImage {
    width: 15%;
}

.tableText {
    width: 75%;
    padding-right: 20px;
}

.dTable {
    text-align: center;
    font-size: 19px;
    padding-bottom: 4px;
    margin: 0 auto;
}