* {
    margin: 0;
    padding: 0;
 }

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

:root {
    --teal: white;
    --light-teal: rgb(62, 209, 209);
    --width: 955px;
    --b-width: 24px;
    --light-gray: rgb(75, 74, 82);
    --tan: rgba(0,0,0,0);
}

.main {
    background-color: var(--light-gray);

    font-size:16px;
    font-family:Arial, sans-serif;
    text-align:center;
    color: rgb(230, 230, 230);

    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 4px solid;
}

.mainHeader {
    background-color: var(--tan);

    font-size:16px;
    font-family:Arial, sans-serif;
    text-align:left;

    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}


.wrapper {
    width:1050px;
    max-width:1050px;

    
    margin: 0 auto;

    border-left: 6px solid rgba(44, 255, 44,0);

    display: flex;
    flex-direction: column;
}

.siteHeader {
    margin: 0 auto;
    background-color: rgb(65, 33, 122);
    padding-top: 55px;
    padding-bottom: 55px;

    font-family:Arial, sans-serif;
    text-align:center;
    color: white;
}

.siteHeader:after {
    clear: both;
}

.spacer {
    background-color: rgba(255, 0, 0, 00);
    padding-top: 7px;
    padding-bottom: 7px;
    border-left: 6px solid rgba(0,0,0,0);
    border-right: 6px solid rgba(0,0,0,0);
}

.columnImage {
    float: left;
    width: 15%;
    padding: 8px;
    background-color: var(--light-gray);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.columnText {
    float: left;
    width: 80%;
    padding: 8px;
    background-color: var(--light-gray);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}