:root {
    --color-background: rgb(13, 16, 26);
    --color-text: rgba(255,255,255,0.9);
    --color-text-faint: rgba(255,255,255,0.4);
    --color-text-half: rgba(255,255,255,0.9);

    --main-div-width: 800px;
    --c-box-left-width: 400px;
    --c-box-right-width: 400px;
    --c-box-middle-width : 50px;
    --c-box-height: 400px;

    --cat-button-color: rgba(255,255,255,1);
    --cat-button-on: rgb(0, 255, 42);
    --cat-button-color-hover: rgba(255,255,255,0.7);

    --cat-button-spacing: 10px;

    --list-item-color-hover: rgb(27, 29, 39);
    --list-text-color-hover: rgb(255, 147, 74);

    --list-item-spacing: 10px;
    --list-item-content-height: 65px;

    --redirect-button-size: 60px;
    --redirect-button-spacing: 15px;
    --github-button-color: rgb(127, 0, 153, 1);
    --itch-button-color: rgb(250, 92, 92, 1);
    --redirect-hover-offset: 0px;

    --default-font-family: 'Poppins';
}

/* Content grid */
.mainGrid {
    display: grid;
    grid-template-columns: var(--c-box-left-width) var(--c-box-middle-width) var(--c-box-right-width);
    grid-template-rows: var(--c-box-height);
    max-width: calc(var(--c-box-left-width) + var(--c-box-middle-width) + var(--c-box-right-width));
}

.mainGridChild {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

.redirectButtonGrid {
    display: grid;
    grid-template-columns: var(--redirect-button-size) var(--redirect-button-size);
    grid-template-rows: calc(var(--redirect-button-size) + var(--redirect-hover-offset));
    column-gap: var(--redirect-button-spacing);
    margin: 0 auto 0 0;
}

/* Better spacer div class */
.vSpacer {
    --size: 100px;
    padding-bottom: var(--size);
}

/* Main general-use div class */
.main {
    font-family: var(--default-font-family);
    color: var(--color-text);
    margin: 0 auto;
    background-color: var(--color-background);
}

/* Class for the main body, syncing background color with the variable used here */
.body {
    background-color: var(--color-background);
}

/* A couple style configs so that the image used as my name logo will be centered */
.logo {
    display: block;
    margin: 0 auto;
}

.itemIcon {
    width: var(--list-item-content-height);
    height: var(--list-item-content-height);
    border-radius: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    left:40%;
    right:40%;
    background-color: rgba(255,255,255,0);
}

.itemTextWrapper {
    margin-top: auto;
    margin-bottom: auto;
}

.categoryButton {
    background-color: var(--color-background);
    border: none;
    padding: 0;
    margin-left: auto;
    margin-right: 0px;
    display: block;
    margin-top: var(--cat-button-spacing);
    margin-bottom: var(--cat-button-spacing);
    outline:none;
}

.restState { color: var(--cat-button-color) }
.restState:hover { color: var(--cat-button-color-hover); }
.restState:active { color: var(--cat-button-color-hover); }
.restState:focus { color: var(--cat-button-color-hover); }

.activeState { color: var(--cat-button-on) }
.activeState:hover { color: var(--cat-button-on); }
.activeState:active { color: var(--cat-button-on); }
.activeState:focus { color: var(--cat-button-on); }

.listButton {
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;
    padding: var(--list-item-padding);
    border-radius: 10px;

    display: grid;
    grid-template-columns: var(--list-item-content-height) 15px auto;
    grid-template-rows: var(--list-item-content-height);

    margin-top: var(--list-item-spacing);
    margin-bottom: var(--list-item-spacing);

    transition: 0.1s;
    cursor: pointer;
}

.listButton:hover {
    padding-left: 15px;
    color: var(--list-text-color-hover);
}

.redirectButton {
    padding: 0;
    border: 1px solid white;
    transition: 0.1s;
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    width: var(--redirect-button-size);
    height: var(--redirect-button-size);
}

.redirectButton:hover {
    border: 4px solid var(--itch-button-color);
}

.redirectButtonIcon {
    padding-top: 2px;
    width: calc(var(--redirect-button-size) - 30px);
    height: calc(var(--redirect-button-size) - 30px);
}

.github { background-color: rgba(0,0,0,0); }
.itch { background-color: rgba(0,0,0,0); }

/* ----------
Below are all context-specific text box classes 
---------- */

/* Copyright textbox */
.bottomText {
    font-size: 14px;
    text-align: center;
    color: var(--color-text-faint);
    font-family: 'Poppins';
}

/* Textbox for the about me under the name logo*/
.generalText {
    font-family: 'Poppins';
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--color-text);
}

.lefted {
    text-align: left;
}

.mainButtonText {
    margin: 0;
    font-family: 'Oswald';
    font-weight: 200;
    text-align: right;
    font-size: 45px;
}

.itemTitleText {
    font-family: 'Poppins';
    font-size: 20px;
    text-align: left;
    margin: 0 auto 0 0;
    background-color: rgba(255,255,255,0);
}

.itemSubText {
    font-family: 'Roboto Condensed';
    text-align: left;
    font-size: 17px;
    color: var(--color-text-faint);
    background-color: rgba(255,255,255,0);
    margin: 0 auto 0 0;
}